body {
  background-color: #282c34;
  color: white;
  font-size: calc(40px + 3vmin);
}

h1 {
  font-size: calc(40px + 3vmin);
}

.item {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background: #3e4042;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.new-item {
  align-items: stretch !important;
}

#task-input,
#new-task-input {
  width: 50%;
  flex: 5;
}
#time-input,
#new-time-input {
  width: 10%;
  flex: 2;
}
input {
  font-size: calc(14px + 2vmin);
}
.item-title {
  text-align: left;
}

.item-timer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
button:hover {
  color: peru;
}

.time-box {
  font-weight: 600;
}
.App {
  text-align: center;
  position: relative;
}

.list-container {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.edit {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.icon {
  padding: 0 10px;
}

.text-primary {
  color: #007bff;
}
.text-info {
  color: #17a2b8;
}
.text-success {
  color: #28a745;
}
